## Household Monthly Revenue Retention

In [5]:
# Libraries needed
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

import json
from datetime import datetime, date, timedelta

In [6]:
import creds_panoply

POSTGRES_ADDRESS = creds_panoply.address
POSTGRES_PORT = creds_panoply.port
POSTGRES_USERNAME = creds_panoply.username
POSTGRES_PASSWORD = creds_panoply.pw
POSTGRES_DBNAME = creds_panoply.dbname

postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'.format(
    username=POSTGRES_USERNAME,
    password=POSTGRES_PASSWORD,
    ipaddress=POSTGRES_ADDRESS,
    port=POSTGRES_PORT,
    dbname=POSTGRES_DBNAME))

cnx = create_engine(postgres_str)

#### SQL Query

In [7]:
query = """SELECT
    shopify_anything_churn_households_monthly_totals.monthly_cohort,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2017-10' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS oct_2017_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2017-11' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS nov_2017_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2017-12' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS dec_2017_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2018-01' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS jan_2018_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2018-02' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS feb_2018_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2018-03' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS mar_2018_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2018-04' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS apr_2018_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2018-05' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS may_2018_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2018-06' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS jun_2018_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2018-07' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS jul_2018_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2018-08' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS aug_2018_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2018-09' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS sep_2018_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2018-10' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS oct_2018_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2018-11' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS nov_2018_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2018-12' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS dec_2018_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2019-01' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS jan_2019_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2019-02' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS feb_2019_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2019-03' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS mar_2019_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2019-04' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS apr_2019_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2019-05' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS may_2019_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2019-06' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS jun_2019_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2019-07' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS jul_2019_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2019-08' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS aug_2019_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2019-09' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS sep_2019_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2019-10' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS oct_2019_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2019-11' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS nov_2019_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2019-12' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS dec_2019_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2020-01' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS jan_2020_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2020-02' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS feb_2020_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2020-03' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS mar_2020_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2020-04' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS apr_2020_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2020-05' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS may_2020_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2020-06' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS jun_2020_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2020-07' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS jul_2020_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2020-08' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS aug_2020_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2020-09' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS sep_2020_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2020-10' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS oct_2020_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2020-11' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS nov_2020_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2020-12' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS dec_2020_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2021-01' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS jan_2021_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2021-02' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS feb_2021_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2021-03' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS mar_2021_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2021-04' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS apr_2021_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2021-05' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS may_2021_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2021-06' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS jun_2021_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2021-07' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS jul_2021_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2021-08' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS aug_2021_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2021-09' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS sep_2021_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2021-10' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS oct_2021_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2021-11' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS nov_2021_total_revenue,
    COALESCE(
        sum(
            CASE
                WHEN (
                    shopify_anything_churn_households_monthly_totals.month_label = ('2021-12' :: character varying) :: text
                ) THEN shopify_anything_churn_households_monthly_totals.month_total_revenue
                ELSE NULL :: double precision
            END
        ),
        (0) :: double precision
    ) AS dec_2021_total_revenue    
    
FROM
    shopify_anything_churn_households_monthly_totals
GROUP BY
    shopify_anything_churn_households_monthly_totals.monthly_cohort
ORDER BY
    shopify_anything_churn_households_monthly_totals.monthly_cohort;"""

In [8]:
df = pd.read_sql_query(query, cnx)
df.head()

,monthly_cohort,oct_2017_total_revenue,nov_2017_total_revenue,dec_2017_total_revenue,jan_2018_total_revenue,feb_2018_total_revenue,mar_2018_total_revenue,apr_2018_total_revenue,may_2018_total_revenue,jun_2018_total_revenue,...,mar_2021_total_revenue,apr_2021_total_revenue,may_2021_total_revenue,jun_2021_total_revenue,jul_2021_total_revenue,aug_2021_total_revenue,sep_2021_total_revenue,oct_2021_total_revenue,nov_2021_total_revenue,dec_2021_total_revenue
0,2017-10,457.0,79.0,533.27,357.00,264.00,162.00,135.00,123.00,203.20,...,0.00,0.00,57.23,0.00,0.00,0.00,0.00,0.0,0.0,0.0
1,2017-11,0.0,3086.0,4517.00,2468.00,1841.00,1177.00,930.00,747.00,906.80,...,370.46,301.22,393.41,250.11,197.05,240.74,200.06,0.0,0.0,0.0
2,2017-12,0.0,0.0,7949.53,4512.02,3613.00,2572.60,2259.36,1836.32,1948.30,...,407.07,422.57,546.88,502.49,284.00,232.81,30.50,0.0,0.0,0.0
3,2018-01,0.0,0.0,0.00,20743.58,20426.00,11588.99,7764.00,5286.60,5582.77,...,1346.49,1300.62,1083.69,1073.23,928.62,934.41,74.44,0.0,0.0,0.0
4,2018-02,0.0,0.0,0.00,0.00,59827.74,62286.78,24869.52,15345.45,12076.46,...,3661.59,2667.69,2176.31,2296.37,2759.47,2388.42,124.82,0.0,0.0,0.0

In [10]:
# Saving it as excel file
import platform
import os
os_name = platform.system()

dateTimeObj = datetime.now(tz=None)
timeStamp = str(str(dateTimeObj.month) + "." + str(dateTimeObj.day) + "." + str(dateTimeObj.year))
filename = "Household_Cohorts_Monthly_Retention_" + timeStamp + ".xlsx"

if os_name == "Darwin":
    desktop_path = os.path.join(os.path.join(os.path.expanduser('~')), 'Downloads')
    out_path = desktop_path + "/" + filename
    with pd.ExcelWriter(out_path) as writer:
        df.to_excel(writer, sheet_name='Revenue Retention', index=False)

if os_name == "Windows":
    desktop_path = os.path.join(os.path.join(os.environ['USERPROFILE']), 'Downloads')
    out_path = desktop_path + "//" + filename
    with pd.ExcelWriter(out_path) as writer:
        df.to_excel(writer, sheet_name='Revenue Retention', index=False)

print("Export Successful! Check the file in Downloads")

Export Successful! Check the file in Downloads